
        /*************SLIDE*************************/
.slider-container{
  top: 0%;
  margin-top: 0px;
  margin-bottom: 0%;
  position: fixed;
  height: fit-content;
  padding: 0%;
}
  .slider-z{
    width: 70%;
    height: 0 auto;
    margin: 0 auto;
    transition-duration: 0.50s;
    margin-top: 0px;
  }

  .slider-item {
    max-width: 100%; 
    height: auto; 
    padding: 20px;;
  }
  

  .slider-item h3 {
    font-size: 20px; 
    margin-bottom: 0px; 
  }
.slider-imagen{
  height: 600px;
  overflow: hidden;
  width: 1920;
  
 
}
  button{display: none;}
  
  .card {
    width: 100%;
    background-color:transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(48, 250, 3, 0.1);
    overflow: hidden;
}
button.slick-arrow.slick-next::before,
button.slick-arrow.slick-prev::before{display: none;}
.card-image {
    width: 100%;
    height: fit-content;
    display: block;
}

.card-body {
    padding: 1px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-text {
    font-size: 16px;
    color: rgb(250, 4, 4);
    margin-bottom: 16px;
}

.card-link {
    display: inline-block;
    background-color: #052f56;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
  
  