/* texto.css */

.titulo-container{
    text-align: center;
    padding: 0;
    margin-top: 17%;
    margin-bottom: 5%;
    position: fixed;
    z-index: 10;
    left: 10%;
    top: 0%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .titulo-container-f{
    text-align: center;
    padding: 0;
    margin-top: 23%;
    margin-bottom: 0%;
    position: fixed;
    z-index: 10;
    left: 15%;
    top: 0%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .titulo-f{margin-top: 0px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(110, 253, 8, 0.3);
    animation: colorChange 4s infinite alternate;
    display: flex; 
    flex-direction: column; }

  
  .titulo-mundo {
    margin-top: 3em;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(110, 253, 8, 0.3);
    animation: colorChange 4s infinite alternate;
    display: flex; 
    flex-direction: column; 
  }
  
  .titulo-letter {
    transform: rotate(0deg); /* Gira cada letra 90 grados */
  }
  
  @keyframes colorChange {
    0% {
      color: transparent;
    }
    50% {
      color: #f4f8f3;
    }
    100% {
      color: transparent;
    }
  }

  .section-mundo{margin-top: -10%;}
  .section-fotografico
{margin-top:0px;}

.titulo-f{
    top:-50px;
    margin-left: 44em;}